body{
    background-color: bisque;
}
h1{
   font-family: cursive;
   background-color: rgb(114, 114, 226);
   text-align: center;
}
form{
    border-color: rgb(29, 139, 198);
    border-width: 5px;
    border-style: outset;
    border-radius: 3px;
    border
    display: inline-block;
    
}

